<nav class="bar">
    <section id="admMen">
        <ul>
            <li>
                @Html.ActionLink("Usuarios", "GetUsers", "Users")
            </li>
            <li>
                @Html.ActionLink("Crear usuario", "Register", "Account")
            </li>
            <li>
                @Html.ActionLink("Sedes", "Locations", "Location")
            </li>
            <li>
                @Html.ActionLink("Agregar nueva sede", "RegisterLocation", "Location")
            </li>
        </ul>
    </section>
</nav>
