<nav class="bar">
    <section id="admMen">
        <ul>
            <li>
                @Html.ActionLink("Campañas", "GetCampaigns", "Campaigns")
            </li>
            <li>
                @Html.ActionLink("Crear campaña", "CreateCampaign", "Campaigns")
            </li>
        </ul>
    </section>
</nav>

