@{
    ViewBag.Title = "Eliminar usuario";
}
<div class="main-container">
    <section class="form-container">
        <h1>
            Seguro desea eliminar la campaña: @ViewBag.name
        </h1>
        @Html.ActionLink(" ", "Delete", "Location", new { id = ViewBag.id }, new { @class = "icon-checkmark" })
        @Html.ActionLink(" ", "Locations", "Location", new {  }, new { @class = "icon-cross" })
    </section>
</div>



